/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  background-color: #dbb2b2;
  color: #550000;
  font-size: 1.125em;/*18/16 == 1.125em */
  line-height: 1.44444444em; /* 26/18 == 1.44444444em*/
  padding: 0.66666667em;/*12/18 == 0.66666667em*/
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.05555556em;/*24/18 == 1.05555556em*/
  line-height: 1.25em; /*30/24 == 1.25em*/
  padding-top: 0.25em; /* 6/24 == 0.25em*/
  margin-bottom: 0;
}

h3 {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.1875em; /* 19/18 == 1.1875em*/
  margin-bottom: 1.26315789em; /* 24/19 == 1.26315789em*/
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

em {
  font-family: "PT Serif", serif;
  background-color: light grey;
}

a {
  color: #550000;
  text-decoration: none;
  font-style: italic;
}

section {
  padding-bottom: 1.44444444em; /*26/18 == 1.44444444em*/
}

footer {
  font-family: "PT Serif", serif;
  text-align: center;
  font-size: 0.88888889em;/*16/18 == 0.88888889em*/
  background-color:#550000;
  color:  #dbb2b2;
  margin-top: 1.625em; /*26/16 == 1.625em*/
  padding:  0.75em 0  0.75em 0; /* 12px/16 == 0.75em */
  margin: 3.25em -0.75em -0.75em -0.75em; /* 52/16 == 3.25em*/ /*-12/16 == -0.75em*/
}
